GitHub chose GraphQL for our API v4 because it offers significantly more flexibility for our integrators.
The ability to define precisely the data you want—and only the data you want—is a powerful advantage over the REST API v3 endpoints.
GraphQL lets you replace multiple REST requests with a single call to fetch the data you specify.
Github Engineering: https://githubengineering.com/the-github-graphql-api/
